<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="social-icons">
          <li>
            <a href="{{ '/feed.xml' | relative_url }}" title="RSS Feed">
              <i class="fas fa-rss orange"></i>
            </a>
          </li>
          {%- include social.html -%}
        </ul>
        {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
        {%- endif %}
      </div>
    </div>
  </div>
  <label for="theme-selector">Choose Theme:</label>
  <select id="theme-selector" onchange="changeTheme()">
    <option value="adventure">Adventure</option>
    <option value="adventure-basic">Adventure-basic</option>
    <option value="argon">Argon</option>
    <option value="argonnord-frost">Argonnord-frost</option>
    <option value="basic">Basic</option>
    <option value="bee">Bee</option>
    <option value="blue-purple">Blue-purple</option>
    <option value="callisto">Callisto</option>
    <option value="cherry-blossom">Cherry-blossom</option>
    <option value="color-block">Color-block</option>
    <option value="colorful">Colorful</option>
    <option value="crayola">Crayola</option>
    <option value="dashy-docs">Dashy-docs</option>
    <option value="deep-ocean">Deep-ocean</option>
    <option value="dracula">Dracula</option>
    <option value="fallout">Fallout</option>
    <option value="glass">Glass</option>
    <option value="glass-2">Glass-2</option>
    <option value="glow">Glow</option>
    <option value="glow-colorfulcyberpunk">Glow-colorfulcyberpunk</option>
    <option value="hacker-girl">Hacker-girl</option>
    <option value="high-contrast-dark">High-contrast-dark</option>
    <option value="high-contrast-light">High-contrast-light</option>
    <option value="lissy">Lissy</option>
    <option value="material">Material</option>
    <option value="material-dark">Material-dark</option>
    <option value="material-dark-original">Material-dark-original</option>
    <option value="material-original">Material-original</option>
    <option value="matrix">Matrix</option>
    <option value="matrix-red">Matrix-red</option>
    <option value="minimal-dark">Minimal-dark</option>
    <option value="minimal-light">Minimal-light</option>
    <option value="neomorphic">Neomorphic</option>
    <option value="night-bat">Night-bat</option>
    <option value="nord">Nord</option>
    <option value="oblivion">Oblivion</option>
    <option value="oblivion-blue">Oblivion-blue</option>
    <option value="oblivion-lemon">Oblivion-lemon</option>
    <option value="oblivion-mint">Oblivion-mint</option>
    <option value="oblivion-scotch">Oblivion-scotch</option>
    <option value="one-dark">One-dark</option>
    <option value="raspberry-jam">Raspberry-jam</option>
    <option value="tama">Tama</option>
    <option value="thebe">Thebe</option>
    <option value="tiger">Tiger</option>
    <option value="vaporware">Vaporware</option>
    <option value="whimsy"></option>
  </select>
</footer>