        <!-- _includes/menu.html -->
        <ul class="menu">
            <li class="menu-item" style="color: #ffffff"><a href="index.html" style="color: #ffffff">Home</a></li>
            <li class="menu-item" style="color: #ffffff">Daily Visits</li>
            <ul><li class="menu-item"><a href="https://www.meh.com" style="color: #ffffff" filter="invert"><img src="https://d2b8wt72ktn9a2.cloudfront.net/mediocre/image/upload/f_auto,dpr_2.0,q_auto,w_800/v1600295223/yedkpqbutk3qxfffpmad.png" width="100"></a></li>
            <li class="menu-item"><a href="https://www.woot.com" style="color: #ffffff"><img src="https://d3rqdbvvokrlbl.cloudfront.net/lib/images/sites/header/woot-an-amazon-company.svg" width="100"></a></li></ul>
            <li class="menu-item" style="color: #ffffff"><a href="mastofeeds.html" style="color: #ffffff">Mastodon Feeds</a></li>
            <li class="menu-item" style="color: #ffffff"><a href="https://mastodon.social/deck/getting-started" style="color: #ffffff"><i class="fa-brands fa-mastodon" aria-hidden="true"></i> Mastodon Deck</a></li>
            <li class="menu-item" style="color: #ffffff"><a href="https://scruggsfam.notion.site/10-Minute-Ab-Workout-a5529b32399349689ffeca7a826baa74" style="color: #ffffff">10 Minute Abs</a></li>
            <li class="menu-item" style="color: #ffffff"><a href="rii.html" style="color: #ffffff">Random Internet Images</a></li>
            <li class="menu-item" style="color: #ffffff"><a href="about.html" style="color: #ffffff">About Me & My Code of Ethics</a></li>
            <!-- Add more menu items as needed -->
        </ul>
