        <!-- _includes/menu.html -->
        <ul class="menu">
            <li class="menu-item"><a href="index.html" style="color: #ffffff">Home</a></li>
            <li class="menu-item"><a href="about.html" style="color: #ffffff">About Me & My Code of Ethics</a></li>
            <li class="menu-item"><a href="mastofeeds.html" style="color: #ffffff">Mastodon Feeds</a></li>
            <ul><li class="menu-item"><a href="mastofeeds.html#news" style="color: #ffffff">News & Tech Sites</a></li>
            <li class="menu-item"><a href="mastofeeds.html#apple" style="color: #ffffff">Apple Peeps</a></li>
            <li class="menu-item"><a href="mastofeeds.html#famous" style="color: #ffffff">Famous Folks</a></li>
            <li class="menu-item"><a href="mastofeeds.html#bots" style="color: #ffffff">MastoBots</a></li>
            <li class="menu-item"><a href="mastofeeds.html#other" style="color: #ffffff">Other Accounts</a></li></ul>
            <!-- Add more menu items as needed -->
        </ul>
