        <!-- _includes/menu.html -->
        <ul class="menu">
            <li class="menu-item"><a href="index.html">Home</a></li>
            <li class="menu-item"><a href="about.html">About Me & My Code of Ethics</a></li>
            <li class="menu-item"><a href="mastofeeds.html">Mastodon Feeds</a></li>
            <ul><li class="menu-item"><a href="mastofeeds.html#news">News & Tech Sites</a></li>
            <li class="menu-item"><a href="mastofeeds.html#apple">Apple Peeps</a></li>
            <li class="menu-item"><a href="mastofeeds.html#famous">Famous Folks</a></li>
            <li class="menu-item"><a href="mastofeeds.html#bots">MastoBots</a></li>
            <li class="menu-item"><a href="mastofeeds.html#other">Other Accounts</a></li></ul>
            <!-- Add more menu items as needed -->
        </ul>
