<style>
  #share-buttons { display: inline-block; vertical-align: middle; }
  #share-buttons > div { display: inline-block; margin-right: 10px; }
  #share-buttons > div > a { text-decoration: none; color: #d5d5d5; font-size: 18px; }
  #share-buttons > div > a:hover { color: #0077b5; } /* Default hover color; customize per icon if desired */
  .fa-facebook:hover { color: #3B5998; }
  .fa-twitter:hover { color: #55ACEE; }
  .fa-linkedin:hover { color: #0077b5; }
  .fa-envelope:hover { color: #7D7D7D; }
  .fa-mastodon:hover { color: #3088d4; }
</style>

{% assign safeurl = (site.url | append: page.url) | url_encode %}
{% assign safetitle = page.title | url_encode %}
{% assign safetitlepre = "[Blog] " | append: page.author | append: " - " | url_encode %}

<span style="color: silver;">Share on: </span>
<div id="share-buttons">
  <div class="facebook">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ safeurl }}" target="_blank" title="Share on Facebook">
      <i class="fa-brands fa-facebook"></i>
    </a>
  </div>
  <div class="twitter">
    <a href="https://twitter.com/intent/tweet?url={{ safeurl }}&text={{ safetitle }}" target="_blank" title="Share on Twitter">
      <i class="fa-brands fa-twitter"></i>
    </a>
  </div>
  <div class="linkedin">
    <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ safeurl }}" target="_blank" title="Share on LinkedIn">
      <i class="fa-brands fa-linkedin"></i>
    </a>
  </div>
  <div class="email">
    <a href="mailto:?subject={{ safetitlepre }}{{ safetitle }}&body={{ safeurl }}" title="Share via Email">
      <i class="fa-solid fa-envelope"></i>
    </a>
  </div>
<div class="mastodon" onclick="mastodonShare('{{ safeurl }}', '{{ safetitle }}')">
  <a href="#" title="Share on Mastodon">
    <i class="fa-brands fa-mastodon"></i>
  </a>
</div>

<script>
  function mastodonShare(url, title) {
    const instance = prompt("Enter your Mastodon instance (e.g., mastodon.social):");
    if (instance) {
      const shareUrl = `https://${instance}/share?text=${encodeURIComponent(title)}&url=${encodeURIComponent(url)}`;
      window.open(shareUrl, "_blank", "width=600,height=400");
    }
  }
</script>
