<style>
  #share-buttons {display: inline-block; vertical-align: middle; }
  #share-buttons:after {content: ""; display: block; clear: both;}
  #share-buttons > div {position: relative; text-align: left; height: 36px; width: 32px; float: left; text-align: center;}
  #share-buttons > div > svg {height: 16px; fill: #d5d5d5; margin-top: 10px;}
  #share-buttons > div:hover {cursor: pointer;}
  #share-buttons > div.facebook:hover > svg {fill: #3B5998;}
  #share-buttons > div.twitter:hover > svg {fill: #55ACEE;}
  #share-buttons > div.linkedin:hover > svg {fill: #0077b5;}
  #share-buttons > div.gplus:hover > svg {fill: #dd4b39;}
  #share-buttons > div.mail:hover > svg {fill: #7D7D7D;}
  #share-buttons > div.instagram:hover > svg {fill: #C73B92;}
  #share-buttons > div.mastodon:hover > svg {fill: #3088d4;}
  #share-buttons > div.facebook > svg {height: 18px; margin-top: 9px;}
  #share-buttons > div.twitter > svg {height: 20px; margin-top: 8px;}
  #share-buttons > div.linkedin > svg {height: 19px; margin-top: 7px;}
  #share-buttons > div.pinterest > svg {height: 20px; margin-top: 9px;}
  #share-buttons > div.gplus > svg {height: 17px; margin-top: 9px; position: relative; left: 1px;}
  #share-buttons > div.mail > svg {height: 14px; margin-top: 11px;}
  #share-buttons > div.mastodon > svg {height: 18px; margin-top: 9px;}
</style>

{% assign safeurl = site.url | append: page.url | url_encode %}
{% assign safetitle = page.title | url_encode %}
{% assign safetitlepre = "[Blog] " | append: page.author | append: " - " | url_encode %}

<span style="color: silver;">Share on: </span><div id="share-buttons">
  <div class="facebook" title="Share this on Facebook"    onclick="window.open('http://www.facebook.com/share.php?u={{ safeurl }}','popup','width=600,height=600'); return false;">
    <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1343 12v264h-157q-86 0-116 36t-30 108v189h293l-39 296h-254v759h-306v-759h-255v-296h255v-218q0-186 104-288.5t277-102.5q147 0 228 12z"/></svg></div>
  <div class="linkedin" title="Share this on Linkedin"    onclick="window.open('https://www.linkedin.com/sharing/share-offsite/?url={{ safeurl }}','popup','width=600,height=600'); return false;">
    <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M477 625v991h-330v-991h330zm21-306q1 73-50.5 122t-135.5 49h-2q-82 0-132-49t-50-122q0-74 51.5-122.5t134.5-48.5 133 48.5 51 122.5zm1166 729v568h-329v-530q0-105-40.5-164.5t-126.5-59.5q-63 0-105.5 34.5t-63.5 85.5q-11 30-11 81v553h-329q2-399 2-647t-1-296l-1-48h329v144h-2q20-32 41-56t56.5-52 87-43.5 114.5-15.5q171 0 275 113.5t104 332.5z"/></svg></div>
  <div class="mail"     title="Share this through Email"  onclick="window.open('mailto:?&body={{ safeurl }}&subject={{ safetitlepre }}{{ safetitle }}','popup','width=600,height=600'); return false;">
    <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1792 710v794q0 66-47 113t-113 47h-1472q-66 0-113-47t-47-113v-794q44 49 101 87 362 246 497 345 57 42 92.5 65.5t94.5 48 110 24.5h2q51 0 110-24.5t94.5-48 92.5-65.5q170-123 498-345 57-39 100-87zm0-294q0 79-49 151t-122 123q-376 261-468 325-10 7-42.5 30.5t-54 38-52 32.5-57.5 27-50 9h-2q-23 0-50-9t-57.5-27-52-32.5-54-38-42.5-30.5q-91-64-262-182.5t-205-142.5q-62-42-117-115.5t-55-136.5q0-78 41.5-130t118.5-52h1472q65 0 112.5 47t47.5 113z"/></svg></div>
  </div>
  <!-- Mastodon Share Button -->
  <div class="mastodon" title="Share this on Mastodon" onclick="mastodonShare('{{ safeurl }}', '{{ safetitle }}')">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#3088d4" d="M433 179.1c0-97.2-63.7-125.7-63.7-125.7-62.5-28.7-228.6-28.4-290.5 0 0 0-63.7 28.5-63.7 125.7 0 115.7-6.6 259.4 105.6 289.1 40.5 10.7 75.3 13 103.3 11.4 50.8-2.8 79.3-18.1 79.3-18.1l-1.7-36.9s-36.3 11.4-77.1 10.1c-40.4-1.4-83-4.4-89.6-54a102.5 102.5 0 0 1 -.9-13.9c85.6 20.9 158.7 9.1 178.8 6.7 56.1-6.7 105-41.3 111.2-72.9 9.8-49.8 9-121.5 9-121.5zm-75.1 125.2h-46.6v-114.2c0-49.7-64-51.6-64 6.9v62.5h-46.3V197c0-58.5-64-56.6-64-6.9v114.2H90.2c0-122.1-5.2-147.9 18.4-175 25.9-28.9 79.8-30.8 103.8 6.1l11.6 19.5 11.6-19.5c24.1-37.1 78.1-34.8 103.8-6.1 23.7 27.3 18.4 53 18.4 175z"/></svg>
  </div>
</div>

<script>
  function mastodonShare(url, title) {
    const instance = prompt("Enter your Mastodon instance (e.g., mastodon.social):");
    if (instance) {
      const shareUrl = `https://${instance}/share?text=${title}%20${url}`;
      window.open(shareUrl, "_blank", "width=600,height=400");
    }
  }
</script>